@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #F1F4F5;
}

.header {
  width: 100%;
  position: absolute;
  top: 40px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__container {
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.header__logo {
  cursor: pointer;
}
.header__contact {
  cursor: pointer;
}
.header__phone {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.header__phone-number {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  margin-left: 10px;
}
.header__user {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 126px 0 128px;
}
.header__user-email {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.header__user-icon {
  cursor: pointer;
}
.header__user-points {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}

.menu {
  margin: 0 128px;
  position: relative;
}
.menu__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 30px;
}
.menu__link {
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  transition: color 0.3s;
}
.menu__link:hover {
  color: #8C8C8C;
}
.menu__item {
  position: relative;
}
.menu__item:hover .menu__dropdown {
  display: block;
  margin-top: 7.5px;
  margin-top: 13px;
}
.menu__dropdown {
  display: none;
  position: absolute;
  left: -30%;
  width: 968px;
  height: 296px;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
  z-index: 1;
}
.menu__dropdown::before {
  content: "";
  position: absolute;
  top: -9.5px;
  left: 40px;
  transform: translateX(-50%) rotate(45deg);
  width: 19px;
  height: 19px;
  background-color: #FFFFFF;
}
.menu__dropdown-content {
  display: flex;
  gap: 40px;
}
.menu__dropdown-column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu__dropdown-link {
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #231F20;
  text-transform: uppercase;
  width: 276px;
}
.menu__dropdown-link:hover {
  color: #8C8C8C;
}

.utilities__button {
  background: transparent;
  border: none;
  cursor: pointer;
}
.utilities__button--favorites, .utilities__button--shopping--bag {
  position: relative;
}
.utilities__button--favorites {
  margin: 0 16px 0 20px;
}
.utilities__count {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 14px;
  height: 14px;
  background-color: #D81823;
  color: #FFFFFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 10px;
}

.slider {
  position: relative;
  width: 100%;
  max-width: 1880px;
  margin: 20px auto 0 auto;
}
.slider__container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
}
.slider__images {
  display: flex;
  transition: transform 0.6s ease;
}
.slider__image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.slider__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  border-radius: 20px;
  pointer-events: none;
}
.slider__arrows {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  width: 100%;
  z-index: 5;
}
.slider__arrow {
  background-color: #231F20;
  border: none;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.slider__arrow--left {
  margin-left: 40px;
}
.slider__arrow--right {
  margin-right: 40px;
}

.new-items {
  max-width: 1880px;
  margin: 100px auto;
}
.new-items__product {
  width: 455px;
  height: 533px;
  border-radius: 20px;
  background-color: #FFFFFF;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}
.new-items__product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.new-items__product-new {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #231F20;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 140%;
}
.new-items__product-favorite {
  border: none;
  background: transparent;
  cursor: pointer;
}
.new-items__product-image {
  position: absolute;
  top: 20px;
  transform: translateX(-50%);
  left: 50%;
}
.new-items__product-anime-text {
  padding: 4px 8px;
  background-color: #E0E0E0;
  border-radius: 4px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #231F20;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 140%;
  margin: 0 auto 10px auto;
  text-align: center;
}
.new-items__product-title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #231F20;
  line-height: 140%;
  max-width: 415px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  word-break: break-all;
  text-align: center;
  cursor: pointer;
}
.new-items__product-price {
  display: flex;
  align-items: center;
  margin-top: auto;
  justify-content: center;
}
.new-items__product-new-price {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #231F20;
  line-height: 140%;
  margin-right: 13px;
}
.new-items__product-old-price {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #8C8C8C;
  text-decoration: line-through;
}
.new-items__product-name {
  display: flex;
  flex-direction: column;
  height: 133px;
  position: absolute;
  bottom: 20px;
  width: 415px;
}
.new-items__slider-wrapper {
  display: flex;
}
.new-items__slider {
  position: relative;
  max-width: 1880px;
  overflow: hidden;
}
.new-items__slider-arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  z-index: 5;
}
.new-items__slider-arrow {
  pointer-events: auto;
  cursor: pointer;
  background-color: #F4F4F4;
  border: none;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-items__slider-arrow--left {
  position: absolute;
  left: 10px;
}
.new-items__slider-arrow--right {
  position: absolute;
  right: 10px;
}
.new-items__title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #231F20;
  line-height: 140%;
}
.new-items__view-all {
  display: flex;
  align-items: center;
  padding: 14px 20px;
  box-sizing: border-box;
  background-color: #231F20;
  color: #FFFFFF;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 140%;
  border: none;
  border-radius: 10px;
}
.new-items__view-all img {
  margin-left: 10px;
}
.new-items__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.swiper-slide {
  width: auto;
}

.popular-collections {
  max-width: 1880px;
  margin: 0 auto 20px auto;
  display: flex;
  position: relative;
}
.popular-collections__card {
  background-color: #231F20;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}
.popular-collections__card-namebox {
  margin: 20px 0 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.popular-collections__card-more-info {
  align-self: flex-start;
  cursor: pointer;
  background-color: #666666;
  border: none;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popular-collections__card-text {
  color: #8C8C8C;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 140%;
  margin-bottom: 8px;
}
.popular-collections__card-title, .popular-collections__card-title-large {
  color: #FFFFFF;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  max-width: 195px;
  text-align: start;
}
.popular-collections__card-title {
  max-width: 195px;
}
.popular-collections__card-title-large {
  max-width: 306px;
}
.popular-collections__card-img {
  border-radius: 20px;
}
.popular-collections__card-mainbox-large {
  position: absolute;
  bottom: 0;
  right: 0;
}
.popular-collections__title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #231F20;
  line-height: 140%;
  grid-area: title;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.popular-collections__view-all {
  display: flex;
  align-items: center;
  padding: 14px 20px;
  box-sizing: border-box;
  background-color: #231F20;
  color: #FFFFFF;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 140%;
  border: none;
  border-radius: 10px;
  align-self: center;
  cursor: pointer;
}
.popular-collections__view-all img {
  margin-left: 10px;
}
.popular-collections__grid {
  order: 3;
  display: grid;
  grid-template-areas: "card1 card2 card3 card4" "card8 header header card4" "card8 button button card4" "card8 card7 card6 card5";
  gap: 20px;
}
.popular-collections__header {
  order: 1;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popular-collections__button {
  order: 2;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 30px auto 0 auto;
}

.card-small {
  width: 455px;
  height: 300px;
}

.card-large {
  width: 455px;
  height: 550px;
  position: relative;
}

.card-small:nth-child(1) {
  grid-area: card1;
}

.card-small:nth-child(2) {
  grid-area: card2;
}

.card-small:nth-child(3) {
  grid-area: card3;
}

.card-large:nth-child(4) {
  grid-area: card4;
}

.card-small:nth-child(5) {
  grid-area: card5;
}

.card-small:nth-child(6) {
  grid-area: card6;
}

.card-small:nth-child(7) {
  grid-area: card7;
}

.card-large:nth-child(8) {
  grid-area: card8;
}

.popup-overlay, .popup-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 20px;
  max-width: 700px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}
.popup__close-btn {
  background-color: #231F20;
  border: none;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 616px;
}
.popup__title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #231F20;
  line-height: 140%;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 40px;
}
.popup__input {
  width: 100%;
  padding: 19px 20px;
  background-color: #F4F4F4;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #231F20;
  line-height: 140%;
}
.popup__input::-moz-placeholder {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #231F20;
  line-height: 140%;
}
.popup__input::placeholder {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #231F20;
  line-height: 140%;
}
.popup__submit-btn {
  display: flex;
  align-items: center;
  padding: 18px 28px;
  box-sizing: border-box;
  background-color: #231F20;
  color: #FFFFFF;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 140%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.popup__agreement {
  color: #666666;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  text-align: left;
  max-width: 334px;
  margin-left: 10px;
}
.popup__submit-box {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.popup-menu {
  background-color: #FFFFFF;
  padding: 10px;
  height: 100%;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  overflow-y: auto;
}
.popup-menu__close-btn {
  background-color: #231F20;
  border: none;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: auto;
  margin-bottom: 40px;
}
.popup-menu__menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 30px;
}
.popup-menu__menu-item.active .popup-menu__menu-arrow {
  transform: rotate(0deg);
}
.popup-menu__menu-title {
  color: #231F20;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.popup-menu__menu-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.popup-menu__submenu {
  display: none;
  flex-direction: column;
  margin-bottom: 30px;
}
.popup-menu__menu-item.active + .popup-menu__submenu {
  display: flex;
}
.popup-menu__submenu-item {
  margin-bottom: 20px;
  color: #231F20;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}
.popup-menu__submenu-item:last-child {
  margin-bottom: 0;
}

/**************************************
    Стили для разрешения с шириной 320
***************************************/
@media (max-width: 360px) {
  .header {
    top: 20px;
  }
  .header__logo img {
    width: 50px;
    height: 35px;
  }
  .header__phone {
    margin: 0 55px;
  }
  .header__phone-number {
    font-size: 13px;
    margin-left: 4px;
  }
  .header__user, .header__utilities {
    display: none;
  }
  .header__burger-menu {
    margin: 6px 4px;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
  .header__burger-menu::before, .header__burger-menu::after, .header__burger-menu span {
    content: "";
    display: block;
    width: 16px;
    height: 2px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: 3px;
  }
  .menu {
    display: none;
  }
  .slider {
    max-width: 340px;
    height: 502px;
    margin: 10px auto 0;
  }
  .slider__image img {
    width: 100%;
    height: 502px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .slider__arrows {
    display: none;
  }
  .slider__indicators {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-top: 10px;
  }
  .slider__indicators .indicator {
    width: 14px;
    height: 5px;
    background-color: #C1C1C1;
    border-radius: 2px;
  }
  .slider__indicators .indicator--active {
    background-color: #231F20;
  }
  .new-items {
    max-width: 340px;
    margin: 80px auto 60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .new-items__product {
    width: 340px;
    height: 462px;
  }
  .new-items__product-image img {
    width: 260px;
    height: 260px;
  }
  .new-items__product-title {
    max-width: 300px;
    word-break: normal;
  }
  .new-items__product-name {
    width: 300px;
  }
  .new-items__slider {
    max-width: 340px;
    position: absolute;
    margin-top: 62px;
  }
  .new-items__slider-arrows {
    display: none;
  }
  .new-items__indicators {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-top: 534px;
  }
  .new-items__indicators .indicator-items {
    width: 14px;
    height: 5px;
    background-color: #C1C1C1;
    border-radius: 2px;
  }
  .new-items__indicators .indicator--active {
    background-color: #231F20;
  }
  .new-items__title {
    font-size: 30px;
    width: 100%;
    text-align: left;
  }
  .new-items__view-all {
    padding: 18px 28px;
    display: flex;
    position: absolute;
    bottom: 0;
  }
  .new-items__header {
    display: flex;
    width: 100%;
    position: relative;
    top: 0;
    height: 619px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
  .popular-collections {
    flex-direction: column;
    max-width: 340px;
    margin: 0 auto 70px auto;
  }
  .popular-collections__card-namebox {
    margin: 12.5px 0 12.5px 12px;
  }
  .popular-collections__card-more-info {
    padding: 5px;
  }
  .popular-collections__card-text {
    font-size: 10px;
    margin-bottom: 4px;
  }
  .popular-collections__card-title, .popular-collections__card-title-large {
    font-size: 14px;
    max-width: 153px;
  }
  .popular-collections__card-mainbox img {
    width: 136px;
    height: 180px;
  }
  .popular-collections__grid {
    order: 2;
    display: grid;
    grid-template-areas: "header" "card1" "card2" "card3" "card4" "card5" "card6" "card7" "card8" "button";
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .popular-collections__title {
    font-size: 30px;
    text-align: left;
  }
  .popular-collections__view-all {
    padding: 18px 28px;
  }
  .popular-collections__header {
    order: 1;
    position: static;
    transform: none;
    margin-bottom: 10px;
  }
  .popular-collections__button {
    order: 3;
    margin: 10px auto 0 auto;
    position: static;
    transform: none;
  }
  .card-small, .card-large {
    width: 340px;
    height: 180px;
  }
  .popup {
    padding: 10px;
    border-radius: 0px;
    max-width: 360px;
    width: 100%;
    height: 100%;
  }
  .popup__close-btn {
    margin-left: auto;
  }
  .popup__submit-box {
    display: block;
  }
  .popup__submit-btn {
    padding: 20px 0;
    width: 100%;
    justify-content: center;
  }
  .popup__agreement {
    margin-top: 10px;
    margin-left: 0px;
  }
  .bottom-menu {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 340px;
    height: 60px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 5;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  .bottom-menu__icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 70px;
  }
}
/**************************************
    Стили для разрешения с шириной 744
***************************************/
@media (max-width: 744px) {
  .header {
    top: 30px;
  }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 684px;
  }
  .header__logo img {
    width: 70px;
    height: 49px;
  }
  .header__phone {
    margin: 0;
  }
  .header__phone-number {
    font-size: 13px;
    margin-left: 4px;
  }
  .header__user {
    gap: 4px;
    margin: 0;
  }
  .header__user-email {
    font-size: 13px;
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .header__user-points {
    font-size: 12px;
  }
  .header__burger-menu {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
  .header__burger-menu::before, .header__burger-menu::after, .header__burger-menu span {
    content: "";
    display: block;
    width: 16px;
    height: 2px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: 3px;
  }
  .utilities__button--favorites {
    margin: 0 20px;
  }
  .utilities__count {
    display: none;
  }
  .menu {
    display: none;
  }
  .slider {
    max-width: 704px;
    height: 413px;
    margin: 20px auto 0;
  }
  .slider__image img {
    width: 100%;
    height: 413px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .slider__indicators {
    display: none;
  }
  .slider__arrow--left {
    margin-left: 10px;
  }
  .slider__arrow--right {
    margin-right: 10px;
  }
  .new-items {
    max-width: 704px;
    margin: 60px auto;
  }
  .new-items__product {
    width: 347px;
    height: 462px;
  }
  .new-items__product-image img {
    width: 260px;
    height: 260px;
  }
  .new-items__product-title {
    max-width: 307px;
    word-break: normal;
  }
  .new-items__product-name {
    width: 307px;
  }
  .new-items__slider {
    max-width: 704px;
  }
  .new-items__indicators {
    display: none;
  }
  .new-items__title {
    font-size: 30px;
  }
  .new-items__view-all {
    padding: 14px 20px;
  }
  .new-items__header {
    margin-bottom: 30px;
  }
  .popular-collections {
    flex-direction: column;
    max-width: 704px;
    margin: 0 auto 20px auto;
  }
  .popular-collections__card-namebox {
    margin: 12px 0 12px 12px;
  }
  .popular-collections__card-more-info {
    padding: 5px;
  }
  .popular-collections__card-text {
    font-size: 10px;
    margin-bottom: 4px;
  }
  .popular-collections__card-title, .popular-collections__card-title-large {
    font-size: 14px;
    max-width: 197px;
  }
  .popular-collections__card-mainbox img {
    width: 135px;
    height: 179px;
  }
  .popular-collections__card-mainbox, .popular-collections__card-mainbox-large {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .popular-collections__grid {
    order: 3;
    display: grid;
    grid-template-areas: "card1 card2 card3" "card8 header card4" "card8 button card4" "card7 card6 card5";
    gap: 10px;
  }
  .popular-collections__title {
    font-size: 30px;
  }
  .popular-collections__view-all {
    padding: 14px 20px;
  }
  .popular-collections__header {
    order: 1;
  }
  .popular-collections__button {
    order: 2;
    margin: 30px auto 0 auto;
  }
  .card-small, .card-large {
    width: 228px;
    height: 257px;
    position: relative;
  }
  .bottom-menu {
    display: none;
  }
  .popup-menu {
    left: 0;
    width: 367px;
    position: absolute;
  }
}
/**************************************
    Стили для разрешения с шириной 1200
***************************************/
@media (max-width: 1200px) {
  .header {
    top: 40px;
  }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1120px;
  }
  .header__logo img {
    width: 80px;
    height: 57px;
  }
  .header__phone {
    margin: 0;
  }
  .header__phone-number {
    font-size: 13px;
    margin-left: 4px;
  }
  .header__user {
    gap: 4px;
    margin: 0;
  }
  .header__user-email {
    font-size: 13px;
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .header__user-points {
    font-size: 12px;
  }
  .utilities__button--favorites {
    margin: 0 20px;
  }
  .utilities__count {
    display: none;
  }
  .menu {
    margin: 0;
  }
  .menu__list {
    gap: 10px;
  }
  .menu__link {
    font-size: 13px;
  }
  .slider {
    max-width: 1160px;
    height: 680px;
    margin: 20px auto 0;
  }
  .slider__image img {
    width: 100%;
    height: 680px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .slider__indicators {
    display: none;
  }
  .slider__arrow--left {
    margin-left: 20px;
  }
  .slider__arrow--right {
    margin-right: 20px;
  }
  .new-items {
    max-width: 1160px;
    margin: 80px auto;
  }
  .new-items__product {
    width: 373px;
    height: 462px;
  }
  .new-items__product-image img {
    width: 260px;
    height: 260px;
  }
  .new-items__product-title {
    max-width: 333px;
    word-break: normal;
  }
  .new-items__product-name {
    width: 333px;
  }
  .new-items__slider {
    max-width: 1160px;
  }
  .new-items__indicators {
    display: none;
  }
  .new-items__title {
    font-size: 35px;
  }
  .new-items__view-all {
    padding: 14px 20px;
  }
  .new-items__header {
    margin-bottom: 30px;
  }
  .popular-collections {
    flex-direction: column;
    max-width: 1160px;
    margin: 0 auto 20px auto;
  }
  .popular-collections__card-namebox {
    margin: 12px 0 12px 12px;
  }
  .popular-collections__card-more-info {
    padding: 6px;
  }
  .popular-collections__card-text {
    font-size: 10px;
    margin-bottom: 4px;
  }
  .popular-collections__card-title {
    font-size: 14px;
    max-width: 118px;
  }
  .popular-collections__card-title-large {
    font-size: 14px;
    max-width: 251px;
  }
  .popular-collections__card-mainbox img {
    width: 135px;
    height: 178px;
  }
  .popular-collections__card-mainbox-large img {
    width: 181px;
    height: 239px;
  }
  .popular-collections__grid {
    order: 3;
    display: grid;
    grid-template-areas: "card1 card2 card3 card4" "card8 header header card4" "card8 button button card4" "card8 card7 card6 card5";
    gap: 20px;
  }
  .popular-collections__title {
    font-size: 35px;
  }
  .popular-collections__view-all {
    padding: 14px 20px;
  }
  .popular-collections__header {
    order: 1;
  }
  .popular-collections__button {
    order: 2;
    margin: 25px auto 0 auto;
  }
  .card-small {
    width: 275px;
    height: 178px;
    position: relative;
  }
  .card-large {
    width: 275px;
    height: 329px;
    position: relative;
  }
  .bottom-menu {
    display: none;
  }
}
/**************************************
    Стили для разрешения с шириной 1440
***************************************/
@media (max-width: 1440px) {
  .header {
    top: 40px;
  }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1360px;
  }
  .header__logo img {
    width: 80px;
    height: 57px;
  }
  .header__phone {
    margin: 0;
  }
  .header__phone-number {
    font-size: 13px;
    margin-left: 4px;
  }
  .header__user {
    gap: 4px;
    margin: 0;
  }
  .header__user-email {
    font-size: 13px;
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .header__user-points {
    font-size: 12px;
  }
  .header__burger-menu {
    display: none;
  }
  .utilities__button--favorites {
    margin: 0 20px;
  }
  .utilities__count {
    display: none;
  }
  .menu {
    margin: 0;
  }
  .menu__list {
    gap: 10px;
  }
  .menu__link {
    font-size: 13px;
  }
  .slider {
    max-width: 1400px;
    height: 820px;
    margin: 20px auto 0;
  }
  .slider__image img {
    width: 100%;
    height: 820px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .slider__indicators {
    display: none;
  }
  .slider__arrow--left {
    margin-left: 20px;
  }
  .slider__arrow--right {
    margin-right: 20px;
  }
  .new-items {
    max-width: 1400px;
    margin: 80px auto;
  }
  .new-items__product {
    width: 335px;
    height: 462px;
  }
  .new-items__product-image img {
    width: 260px;
    height: 260px;
  }
  .new-items__product-title {
    max-width: 295px;
    word-break: normal;
  }
  .new-items__product-name {
    width: 295px;
  }
  .new-items__slider {
    max-width: 1400px;
  }
  .new-items__indicators {
    display: none;
  }
  .new-items__title {
    font-size: 35px;
  }
  .new-items__view-all {
    padding: 14px 20px;
  }
  .new-items__header {
    margin-bottom: 30px;
  }
  .popular-collections {
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto 20px auto;
  }
  .popular-collections__card-namebox {
    margin: 12px 0 12px 12px;
  }
  .popular-collections__card-more-info {
    padding: 6px;
  }
  .popular-collections__card-text {
    font-size: 10px;
    margin-bottom: 4px;
  }
  .popular-collections__card-title {
    font-size: 16px;
    max-width: 164px;
  }
  .popular-collections__card-title-large {
    font-size: 16px;
    max-width: 311px;
  }
  .popular-collections__card-mainbox img {
    width: 135px;
    height: 178px;
  }
  .popular-collections__card-mainbox-large img {
    width: 181px;
    height: 239px;
  }
  .popular-collections__grid {
    order: 3;
    display: grid;
    grid-template-areas: "card1 card2 card3 card4" "card8 header header card4" "card8 button button card4" "card8 card7 card6 card5";
    gap: 20px;
  }
  .popular-collections__title {
    font-size: 35px;
  }
  .popular-collections__view-all {
    padding: 14px 20px;
  }
  .popular-collections__header {
    order: 1;
  }
  .popular-collections__button {
    order: 2;
    margin: 25px auto 0 auto;
  }
  .card-small {
    width: 335px;
    height: 178px;
    position: relative;
  }
  .card-large {
    width: 335px;
    height: 333px;
    position: relative;
  }
  .bottom-menu {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */