@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

$gray: #231F20;
$white: #FFFFFF;

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #F1F4F5;
}

.header {
    width: 100%;
    position: absolute;
    top: 40px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    &__container {
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    &__logo {
        cursor: pointer;
    }
    &__contact {
        cursor: pointer;
    }
    &__phone {
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    &__phone-number {
        font-family: "Manrope", sans-serif;
        font-weight: 700;
        font-size: 16px;
        color: $white;
        margin-left: 10px;
    }
    &__user {
        display: flex;
        align-items: center;
        gap: 8px;
        margin: 0 126px 0 128px;
    }
    &__user-email {
        font-family: "Manrope", sans-serif;
        font-weight: 700;
        font-size: 14px;
        color: $white;
        text-transform: uppercase;
    }
    &__user-icon {
        cursor: pointer;
    }
    &__user-points {
        font-family: "Manrope", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: $white;
    }
}

.menu {
    margin: 0 128px;
    position: relative;
    &__list {
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 30px;
    }
    &__link {
        text-decoration: none;
        font-family: "Manrope", sans-serif;
        font-weight: 700;
        font-size: 14px;
        color: $white;
        text-transform: uppercase;
        cursor: pointer;
        position: relative;
        transition: color 0.3s;
        
        &:hover {
            color: #8C8C8C;
        }
    }
    &__item {
        position: relative;

        &:hover .menu__dropdown {
            display: block;
            margin-top: 7.5px;
            margin-top: 13px;
        }

    }
    &__dropdown {
        display: none;
        position: absolute;
        left: -30%;
        width: 968px;
        height: 296px;
        background-color: $white;
        border-radius: 20px;
        padding: 30px;
        box-sizing: border-box;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            top: -9.5px;
            left: 40px;
            transform: translateX(-50%) rotate(45deg);
            width: 19px;
            height: 19px;
            background-color: $white;
        }
        &-content {
            display: flex;
            gap: 40px;
        }
        &-column {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }
        &-link {
            text-decoration: none;
            font-family: "Manrope", sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: $gray;
            text-transform: uppercase;
            width: 276px;

            &:hover {
                color: #8C8C8C;
            }
        }
    }
}

.utilities {
    &__button {
        background: transparent;
        border: none;
        cursor: pointer;
    }
    &__button--favorites, &__button--shopping--bag {
        position: relative;
    }
    &__button--favorites {
        margin: 0 16px 0 20px;
    }
    &__count {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 14px;
        height: 14px;
        background-color: #D81823;
        color: $white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Manrope", sans-serif;
        font-weight: 700;
        font-size: 10px;
    }
}

.slider {
    position: relative;
    width: 100%;
    max-width: 1880px;
    margin: 20px auto 0 auto;
    &__container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 20px;
    }
    &__images {
        display: flex;
        transition: transform 0.6s ease;
    }
    &__image {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
    }
    &__image::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 10%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
        border-radius: 20px;
        pointer-events: none;
    }
    &__arrows {
        position: absolute;
        top: 50%;
        display: flex;
        justify-content: space-between;
        transform: translateY(-50%);
        width: 100%;
        z-index: 5;
    }
    &__arrow {
        background-color: $gray;
        border: none;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    &__arrow--left {
        margin-left: 40px;
    }
    &__arrow--right {
        margin-right: 40px;
    }
}

.new-items {
    max-width: 1880px;
    margin: 100px auto;
    &__product {
        width: 455px;
        height: 533px;
        border-radius: 20px;
        background-color: $white;
        padding: 20px;
        box-sizing: border-box;
        position: relative;
    }
    &__product-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__product-new {
        font-family: "Manrope", sans-serif;
        font-weight: 700;
        font-size: 14px;
        color: $gray;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        line-height: 140%;
    }
    &__product-favorite {
        border: none;
        background: transparent;
        cursor: pointer;
    }
    &__product-image {
        position: absolute;
        top: 20px;
        transform: translateX(-50%);
        left: 50%;
    }
    &__product-anime-text {
        padding: 4px 8px;
        background-color: #E0E0E0;
        border-radius: 4px;
        font-family: "Manrope", sans-serif;
        font-weight: 700;
        font-size: 12px;
        color: $gray;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        line-height: 140%;
        margin: 0 auto 10px auto;
        text-align: center;
    }
    &__product-title {
        font-family: "Manrope", sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: $gray;
        line-height: 140%;
        max-width: 415px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        word-break: break-all;
        text-align: center;
        cursor: pointer;
    }
    &__product-price {
        display: flex;
        align-items: center;
        margin-top: auto;
        justify-content: center;
    }
    &__product-new-price {
        font-family: "Manrope", sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: $gray;
        line-height: 140%;
        margin-right: 13px;
    }
    &__product-old-price {
        font-family: "Manrope", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #8C8C8C;
        text-decoration: line-through;
    }
    &__product-name {
        display: flex;
        flex-direction: column;
        height: 133px;
        position: absolute;
        bottom: 20px;
        width: 415px;
    }
    &__slider-wrapper {
        display: flex;
    }
    &__slider {
        position: relative;
        max-width: 1880px;
        overflow: hidden;
    }
    &__slider-arrows {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        display: flex;
        justify-content: space-between;
        pointer-events: none; 
        z-index: 5;
    }
    &__slider-arrow {
        pointer-events: auto; 
        cursor: pointer;
        background-color: #F4F4F4;
        border: none;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__slider-arrow--left {
        position: absolute;
        left: 10px;
    }
    &__slider-arrow--right {
        position: absolute;
        right: 10px; 
    }
    &__title {
        font-family: "Manrope", sans-serif;
        font-weight: 700;
        font-size: 48px;
        color: $gray;
        line-height: 140%;
    }
    &__view-all {
        display: flex;
        align-items: center;
        padding: 14px 20px;
        box-sizing: border-box;
        background-color: $gray;
        color: $white;
        font-family: "Manrope", sans-serif;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        line-height: 140%;
        border: none;
        border-radius: 10px;
    }
    &__view-all img{
        margin-left: 10px;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }
}
.swiper-slide {
    width: auto;
}

.popular-collections {
    max-width: 1880px;
    margin: 0 auto 20px auto;
    display: flex;
    position: relative;
    &__card {
        background-color: $gray;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
    }
    &__card-namebox {
        margin: 20px 0 20px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__card-more-info {
        align-self: flex-start;
        cursor: pointer;
        background-color: #666666;
        border: none;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__card-text {
        color: #8C8C8C;
        font-family: "Manrope", sans-serif;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        line-height: 140%;
        margin-bottom: 8px;
    }
    &__card-title, &__card-title-large {
        color: $white;
        font-family: "Manrope", sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        max-width: 195px;
        text-align: start;
    }
    &__card-title {
        max-width: 195px;
    }
    &__card-title-large {
        max-width: 306px;
    }
    &__card-img {
        border-radius: 20px;
    }
    &__card-mainbox-large {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    &__title {
        font-family: "Manrope", sans-serif;
        font-weight: 700;
        font-size: 48px;
        color: $gray;
        line-height: 140%;
        grid-area: title;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    &__view-all {
        display: flex;
        align-items: center;
        padding: 14px 20px;
        box-sizing: border-box;
        background-color: $gray;
        color: $white;
        font-family: "Manrope", sans-serif;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        line-height: 140%;
        border: none;
        border-radius: 10px;
        align-self: center;
        cursor: pointer;
    }
    &__view-all img{
        margin-left: 10px;
    }

    &__grid {
        order: 3;
        display: grid;
        grid-template-areas:
        "card1 card2 card3 card4"
        "card8 header header card4"
        "card8 button button card4"
        "card8 card7 card6 card5";
        gap: 20px;
    }
    &__header {
        order: 1;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__button {
        order: 2;
        position: absolute;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 30px auto 0 auto;
    }

}

.card-small {
    width: 455px;
    height: 300px;
}
.card-large {
    width: 455px;
    height: 550px;
    position: relative;
}

.card-small:nth-child(1) { grid-area: card1; }
.card-small:nth-child(2) { grid-area: card2; }
.card-small:nth-child(3) { grid-area: card3; }
.card-large:nth-child(4) { grid-area: card4; }
.card-small:nth-child(5) { grid-area: card5; }
.card-small:nth-child(6) { grid-area: card6; }
.card-small:nth-child(7) { grid-area: card7; }
.card-large:nth-child(8) { grid-area: card8; }

.popup-overlay, .popup-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    background-color: $white;
    padding: 20px;
    border-radius: 20px;
    max-width: 700px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    &__close-btn {
        background-color: $gray;
        border: none;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-left: 616px;
    }
    &__title {
        font-family: "Manrope", sans-serif;
        font-weight: 700;
        font-size: 24px;
        color: $gray;
        line-height: 140%;
        text-align: left;
        margin-bottom: 20px;
        margin-top: 40px;
    }
    &__input {
        width: 100%;
        padding: 19px 20px;
        background-color: #F4F4F4;
        box-sizing: border-box;
        margin-bottom: 10px;
        border: none;
        border-radius: 10px;
        font-family: "Manrope", sans-serif;
        font-weight: 700;
        font-size: 16px;
        color: $gray;
        line-height: 140%;
    }
    &__input::placeholder {
        font-family: "Manrope", sans-serif;
        font-weight: 700;
        font-size: 16px;
        color: $gray;
        line-height: 140%;
    }
    &__submit-btn {
        display: flex;
        align-items: center;
        padding: 18px 28px;
        box-sizing: border-box;
        background-color: $gray;
        color: $white;
        font-family: "Manrope", sans-serif;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        line-height: 140%;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }
    &__agreement {
        color: #666666;
        font-family: "Manrope", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        text-align: left;
        max-width: 334px;
        margin-left: 10px;
    }
    &__submit-box {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
}

.popup-menu {
    background-color: $white;
    padding: 10px;
    height: 100%;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    overflow-y: auto;
    &__close-btn {
        background-color: $gray;
        border: none;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-left: auto;
        margin-bottom: 40px;
    }
    &__menu-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        margin-bottom: 30px;

        &.active .popup-menu__menu-arrow {
            transform: rotate(0deg);
        }
    }
    &__menu-title {
        color: $gray;
        font-family: "Manrope", sans-serif;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
    }
    &__menu-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(180deg);
        transition: transform 0.3s ease;
    }

    &__submenu {
        display: none;
        flex-direction: column;
        margin-bottom: 30px;
    }
    &__menu-item.active + &__submenu {
        display: flex;
    }
    &__submenu-item {
        margin-bottom: 20px;
        color: $gray;
        font-family: "Manrope", sans-serif;
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
    }
    &__submenu-item:last-child {
        margin-bottom: 0;
    }
}




/**************************************
    Стили для разрешения с шириной 320
***************************************/


@media (max-width: 360px) {
    .header {
        top: 20px;
        
        &__logo img {
            width: 50px;
            height: 35px;
        }

        &__phone {
            margin: 0 55px;
        }

        &__phone-number {
            font-size: 13px;
            margin-left: 4px;
        }

        &__user, &__utilities {
            display: none;
        }

        &__burger-menu {
            margin: 6px 4px;
            width: 16px;
            height: 16px;
            cursor: pointer;
            
            &::before, &::after, span {
                content: '';
                display: block;
                width: 16px;
                height: 2px;
                background-color: $white;
                border-radius: 10px;
                margin-top: 3px;
            }
        }
    }

    .menu {
        display: none;
    }

    .slider {
        max-width: 340px;
        height: 502px;
        margin: 10px auto 0;
        
        &__image img {
            width: 100%;
            height: 502px;
            object-fit: cover;
        }

        &__arrows {
            display: none;
        }

        &__indicators {
            display: flex;
            justify-content: center;
            gap: 4px;
            margin-top: 10px;
            
            .indicator {
                width: 14px;
                height: 5px;
                background-color: #C1C1C1;
                border-radius: 2px;
            }
            
            .indicator--active {
                background-color: $gray;
            }
        }
    }

    .new-items {
        max-width: 340px;
        margin: 80px auto 60px auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__product {
            width: 340px;
            height: 462px;
        }

        &__product-image img {
            width: 260px;
            height: 260px;
        }

        &__product-title {
            max-width: 300px;
            word-break: normal;
        }

        &__product-name {
            width: 300px;
        }

        &__slider {
            max-width: 340px;
            position: absolute;
            margin-top: 62px;
        }

        &__slider-arrows {
            display: none;
        }

        &__indicators {
            position: absolute;
            display: flex;
            justify-content: center;
            gap: 4px;
            margin-top: 534px;
            
            .indicator-items {
                width: 14px;
                height: 5px;
                background-color: #C1C1C1;
                border-radius: 2px;
            }
            
            .indicator--active {
                background-color: $gray;
            }
        }

        &__title {
            font-size: 30px;
            width: 100%;
            text-align: left;
        }

        &__view-all {
            padding: 18px 28px;
            display: flex;
            position: absolute;
            bottom: 0;
        }
        &__header {
            display: flex;
            width: 100%;
            position: relative;
            top: 0;
            height: 619px;
            flex-direction: column;
            align-items: center;
            margin-bottom: 0;
        }
    }

    .popular-collections {
        flex-direction: column;
        max-width: 340px;
        margin: 0 auto 70px auto;
        &__card-namebox {
            margin: 12.5px 0 12.5px 12px;
        }

        &__card-more-info {
            padding: 5px;
        }

        &__card-text {
            font-size: 10px;
            margin-bottom: 4px;
        }

        &__card-title, &__card-title-large {
            font-size: 14px;
            max-width: 153px;
        }

        &__card-mainbox img {
            width: 136px;
            height: 180px;
        }

        &__grid {
            order: 2;
            display: grid;
            grid-template-areas:
                "header"
                "card1"
                "card2"
                "card3"
                "card4"
                "card5"
                "card6"
                "card7"
                "card8"
                "button";
            grid-template-columns: 1fr;
            gap: 10px;
        }

        &__title {
            font-size: 30px;
            text-align: left;
        }

        &__view-all {
            padding: 18px 28px;
        }

        &__header {
            order: 1;
            position: static;
            transform: none;
            margin-bottom: 10px;
        }

        &__button {
            order: 3;
            margin: 10px auto 0 auto;
            position: static;
            transform: none;
        }
    }

    .card-small, .card-large {
        width: 340px;
        height: 180px;
    }

    .popup {
        padding: 10px;
        border-radius: 0px;
        max-width: 360px;
        width: 100%;
        height: 100%;

        &__close-btn {
            margin-left: auto;
        }

        &__submit-box {
            display: block;
        }

        &__submit-btn {
            padding: 20px 0;
            width: 100%;
            justify-content: center;
        }

        &__agreement {
            margin-top: 10px;
            margin-left: 0px;
        }
    }

    .bottom-menu {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 340px;
        height: 60px;
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
        z-index: 5;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;

        &__icons {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 0 70px;
        }
    }
    
}

/**************************************
    Стили для разрешения с шириной 744
***************************************/


@media (max-width: 744px) {
    .header {
        top: 30px;
        
        &__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 684px;
        }
        
        &__logo img {
            width: 70px;
            height: 49px;
        }

        &__phone {
            margin: 0;
        }

        &__phone-number {
            font-size: 13px;
            margin-left: 4px;
        }

        &__user {
            gap: 4px;
            margin: 0;

            &-email {
                font-size: 13px;
                max-width: 130px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            
            &-points {
                font-size: 12px;
            }
        }

        &__burger-menu {
            width: 16px;
            height: 16px;
            cursor: pointer;
            
            &::before, &::after, span {
                content: '';
                display: block;
                width: 16px;
                height: 2px;
                background-color: $white;
                border-radius: 10px;
                margin-top: 3px;
            }
        }
    }

    .utilities {
        &__button--favorites {
            margin: 0 20px;
        }

        &__count {
            display: none;
        }
    }

    .menu {
        display: none;
    }

    .slider {
        max-width: 704px;
        height: 413px;
        margin: 20px auto 0;
        
        &__image img {
            width: 100%;
            height: 413px;
            object-fit: cover;
        }

        &__indicators {
            display: none;
        }

        &__arrow--left {
            margin-left: 10px;
        }
        &__arrow--right {
            margin-right: 10px;
        }
    }

    .new-items {
        max-width: 704px;
        margin: 60px auto;

        &__product {
            width: 347px;
            height: 462px;
        }

        &__product-image img {
            width: 260px;
            height: 260px;
        }

        &__product-title {
            max-width: 307px;
            word-break: normal;
        }

        &__product-name {
            width: 307px;
        }

        &__slider {
            max-width: 704px;
        }

        &__indicators {
            display: none;
        }

        &__title {
            font-size: 30px;
        }

        &__view-all {
            padding: 14px 20px;
        }
        &__header {
            
            margin-bottom: 30px;
        }
    }

    .popular-collections {
        flex-direction: column;
        max-width: 704px;
        margin: 0 auto 20px auto;
        &__card-namebox {
            margin: 12px 0 12px 12px;
        }

        &__card-more-info {
            padding: 5px;
        }

        &__card-text {
            font-size: 10px;
            margin-bottom: 4px;
        }

        &__card-title, &__card-title-large {
            font-size: 14px;
            max-width: 197px;
        }

        &__card-mainbox img {
            width: 135px;
            height: 179px;
        }

        &__card-mainbox, &__card-mainbox-large {
            position: absolute;
            bottom: 0;
            right: 0;
        }

        &__grid {
            order: 3;
            display: grid;
            grid-template-areas:
            "card1 card2 card3"
            "card8 header card4"
            "card8 button card4"
            "card7 card6 card5";
            gap: 10px;
        }

        &__title {
            font-size: 30px;
        }

        &__view-all {
            padding: 14px 20px;
        }

        &__header {
            order: 1;
        }

        &__button {
            order: 2;
            margin: 30px auto 0 auto;
        }
    }

    .card-small, .card-large {
        width: 228px;
        height: 257px;
        position: relative;
    }

    .bottom-menu {
        display: none;
    }

    .popup-menu {
        left: 0;
        width: 367px;
        position: absolute;
    }
}